.homeRoot {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.carouselRoot {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.aboutMeRoot {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .carouselRoot {
    width: 100%;
  }

  .aboutMeRoot {
    width: 100%;
  }
}
